name: ci
on: [push, pull_request]

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10", 3.11, 3.12]
        os: [ubuntu-18.04, ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: "1.2"
      - name: Install dependencies
        run: poetry install
      - name: Static type checking
        run: poetry run mypy .
        if: runner.os != 'Windows'
      - name: Run test
        run: poetry run pytest
